<%- include('header') %>
<div class="w3-content" style="max-width:1400px">
    <br>
    <div class="w3-container w3-card-4">
        <h1>Introduction</h1>
        <p>Online image labeling tool for machine learning research</p>
        <p>Visit <a href="https://github.com/songwonderful/online-image-labeling-tool">Github</a> for more information
        </p>
    </div>
</div>
<%- include('footer') %>